{% extends "base.html" %}

{% block content %}
    <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white px-6 py-16 sm:py-24 lg:py-32 rounded-lg shadow-lg">
            <div class="mx-auto max-w-2xl text-center">
                <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold tracking-tight text-gray-900">
                    Enter Referral Code
                </h2>
                <p class="mt-4 sm:mt-6 text-md sm:text-lg leading-7 sm:leading-8 text-gray-600">
                    If someone referred you, you can enter their username here. This step is optional.
                </p>
            </div>

            <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 py-10">
                <form hx-post="{% url 'referral_code_service' id=id %}" hx-target="#message" method="POST">
                    {% csrf_token %}
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username
                        (Optional)</label>
                    <div class="mt-2">
                        <input name="username" id="username" required autocomplete="off"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6"
                        >
                    </div>
                    <div id="message" class="my-5"></div>
                    <div class="flex gap-x-2">
                        <button type="submit"
                                class="mt-5 rounded-md bg-pink-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">
                            Submit
                        </button>
                        <a href="/onboarding/done/{{ id }}"
                                class="mt-5 border border-pink-500 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-pink-500 shadow-sm hover:bg-pink-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">
                            Skip
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}