{% extends "base.html" %}

{% block content %}
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-pink-600">TERMS AND CONDITIONS</p>
            <div class="mt-10 max-w-2xl">
                <h2 class="mt-10 font-bold tracking-tight text-gray-900">
                    Company Information
                </h2>
                <p class="mt-3 text-justify">
                    Welcome to the Readify Platform, owned and operated by IT WONDER. We are dedicated to providing
                    exceptional services and products to our valued customers.
                </p>
                <p class="mt-6 text-justify">
                    <span class="font-bold tracking-tight text-gray-900">Location:</span> We are located at Sto Tomas
                    City, Batangas. Our facility is equipped with state-of-the-art
                    technology and a team of experienced professionals committed to excellence.
                </p>
                <h2 class="mt-6 font-bold tracking-tight text-gray-900">
                    Contact Information:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Phone:
                    </span>
                    You can reach us at 0921 340 9826 for any inquiries or support.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Email:
                    </span>
                    Feel free to email us at <span class="underline text-pink-500">blendjoy73@gmail.com </span>for
                    additional information, customer service, or feedback.
                </p>
                <p class="mt-6 text-justify">
                    <span class="font-bold tracking-tight text-gray-900">Business Hours:</span> Our customer service
                    team is available from Monday to Friday, 9:00 AM to 6:00 PM. We strive to respond to all inquiries
                    within 24 hours.
                </p>
                <p class="mt-6 text-justify">
                    <span class="font-bold tracking-tight text-gray-900">About Readify:</span> Readify is a leading
                    platform designed to bring joy and convenience to your lifestyle. We offer a wide range of E-book
                    that able for you to read. Our mission is to enhance the readers and author experience through
                    innovative solutions and exceptional service. Readify support multimedia elements like audio and
                    video, further enriching the content. These platforms also typically offer tools for authors and
                    publishers to create, manage, thus streamlining the publishing process. By integrating these
                    features, Readify not only improve accessibility and convenience for readers but also provide a
                    comprehensive ecosystem for digital publishing.
                </p>
                <p class="mt-6 text-justify">
                    <span class="font-bold tracking-tight text-gray-900">Follow Us:</span> Stay connected with us
                    through our social media channels for the latest updates, promotions, and community events.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Facebook:
                    </span>
                    <a href="https://www.facebook.com/profile.php?id=61561118425394"
                       class="underline text-pink-500 cursor-pointer">https://www.facebook.com/profile.php?id=61561118425394</a>
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Instagram:
                    </span>
                    <a href="https://www.instagram.com/blendjoy_/" class="underline text-pink-500 cursor-pointer">https://www.instagram.com/blendjoy_/</a>
                </p>
                <h2 class="mt-10 font-bold tracking-tight text-gray-900">
                    Readify Services Age Restriction and Account Requirements
                </h2>
                <p class="mt-3 text-justify">
                    Readify services are exclusively available for individuals who are 14 years old and above. If we
                    discover that someone under the age of 14 is using Readify, we will promptly terminate their account
                    to comply with our age policy.
                </p>
                <p class="mt-3 text-justify">
                    To use Readify, you are required to create an account. During the account creation process, you will
                    need to provide accurate personal information and establish a strong password to ensure the security
                    of your account. We recommend that your password be unique and complex, containing a mix of letters,
                    numbers, and special characters.
                </p>
                <h2 class="mt-6 font-bold tracking-tight text-gray-900">
                    Account Security:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Confidentiality:
                    </span>
                    Keep your account information confidential and do not share your password with others.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Updates:
                    </span>
                    Regularly update your password and review your account information to maintain security.
                </p>
                <h2 class="mt-6 font-bold tracking-tight text-gray-900">
                    Compliance and Responsibility:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Terms of Service:
                    </span>
                    By creating an account, you agree to comply with Readify Terms of Service and Privacy Policy.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Parental Guidance:
                    </span>
                    For users aged 14 to 17, we encourage parental guidance and supervision while using our platform.
                </p>
                <p class="mt-6 text-justify">
                    <span class="font-bold tracking-tight text-gray-900">Support and Assistance: </span>If you encounter
                    any issues or have questions regarding your account, please contact our customer support team. We
                    are committed to ensuring a safe and enjoyable experience for all our users.
                </p>
                <h2 class="mt-6 font-bold tracking-tight text-gray-900">
                    User Content Policy and Usage
                </h2>
                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Allowed and Prohibited Content:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Allowed Content:
                    </span>
                    Users are encouraged to share content that is respectful, relevant, and contributes positively to
                    the Readify community. This includes but is not limited to reviews, recommendations, tips, and
                    creative contributions related to our products and services.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Prohibited Content
                    </span>
                    We strictly prohibit content that is offensive, defamatory, discriminatory, or harmful in any
                    manner. This includes hate speech, harassment, explicit material, and any form of illegal activity.
                    Users must also refrain from sharing misleading or false information, spam, and any content that
                    infringes on intellectual property rights, including plagiarism.
                </p>
                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Plagiarism:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Original Content Requirement:
                    </span>
                    Users must submit original content. Plagiarism, or the use of someone else's work without proper
                    attribution, is strictly prohibited. This includes copying text, images, videos, or other materials
                    without permission or appropriate credit.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Attribution Standards:
                    </span>
                    When quoting or referencing external sources, users should provide proper citations or links to the
                    original content. This maintains the integrity and credibility of our platform.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Consequences of Plagiarism:
                    </span>
                    Content found to be plagiarized will be removed immediately. Users who repeatedly submit plagiarized
                    content may face account suspension or termination.
                </p>
                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Usage of User Content by Readify:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Content Moderation:
                    </span>
                    Readify reserves the right to review, monitor, and remove any content that violates our policies or
                    is deemed inappropriate. This ensures a safe and welcoming environment for all users.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Content Utilization:
                    </span>
                    By submitting content to Readify, users grant us a non-exclusive, royalty-free, perpetual, and
                    worldwide license to use, modify, reproduce, and distribute the content in connection with our
                    services. This includes the use of user-generated content for promotional and marketing purposes,
                    improving our platform, and enhancing user experience.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Privacy and Attribution:
                    </span>
                    While we may use user content for various purposes, we respect user privacy and will not disclose
                    personal information without consent. Whenever feasible, we will attribute content to the respective
                    users, giving credit for their contributions.
                </p>
                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Community Guidelines:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Respect and Civility:
                    </span>
                    All users must engage with others respectfully and civilly. Disrespectful behavior, trolling, and
                    inflammatory remarks will not be tolerated.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Accuracy and Honesty:
                    </span>
                    Users should strive to provide accurate and honest information in their contributions.
                    Misrepresentation and deception undermine the integrity of our platform.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Constructive Feedback:
                    </span>
                    We value constructive feedback and encourage users to share their thoughts on how we can improve our
                    services.
                </p>

                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Enforcement and Support:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Reporting Mechanism:
                    </span>
                    Users can report any content or behavior that violates our policies through the platform’s reporting
                    tools. Our support team will promptly investigate and take appropriate action.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Account Consequences:
                    </span>
                    Violations of our content policies may result in content removal, account suspension, or
                    termination, depending on the severity of the infraction.
                </p>

                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Prohibited Actions and Behaviors:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Harassment and Bullying:
                    </span>
                    Any form of harassment, bullying, or abuse towards other users is strictly forbidden.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Hate Speech:
                    </span>
                    Content that promotes racism, sexism, homophobia, transphobia, or any other form of discrimination
                    or hate speech is not allowed.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Explicit Content:
                    </span>
                    Sharing or distributing explicit, pornographic, or sexually suggestive content is prohibited.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Illegal Activities:
                    </span>
                    Any content or behavior that promotes or involves illegal activities, including but not limited to
                    drug use, violence, or the sharing of illegal material, is strictly banned.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Misleading Information:
                    </span>
                    Posting false, misleading, or deceptive content is not permitted.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Spamming:
                    </span>
                    The use of spam tactics, including repetitive posting and irrelevant content, is prohibited.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Intellectual Property Infringement:
                    </span>
                    Sharing content that infringes on intellectual property rights, including unauthorized use of
                    copyrighted material, is not allowed.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Plagiarism:
                    </span>
                    Users must submit original content. Plagiarism, or the use of someone else's work without proper
                    attribution, is strictly prohibited. This includes copying text, images, videos, or other materials
                    without permission or appropriate credit.
                </p>

                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Ownership of Content and Intellectual Property Rights:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - User Ownership:
                    </span>
                    Users retain ownership of the content they create and submit to Readify. However, by submitting
                    content, users grant Readify a license to use that content as outlined in this policy.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Readify Ownership:
                    </span>
                    All content provided by Readify, including but not limited to text, graphics, logos, and software,
                    is owned by Readify or its licensors and is protected by intellectual property laws. Users may not
                    use, reproduce, or distribute Readify’s content without explicit permission.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - User Content License:
                    </span>
                    By submitting content to Readify, users grant us a non-exclusive, royalty-free, perpetual, and
                    worldwide license to use, modify, reproduce, and distribute the content. This license allows us to
                    utilize user-generated content for purposes such as promotion, marketing, and enhancing the user
                    experience.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Intellectual Property Respect:
                    </span>
                    Users must respect the intellectual property rights of others. This includes avoiding the
                    unauthorized use of copyrighted material, trademarks, and other protected content.
                </p>

                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Changes to Terms:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Notification of Changes:
                    </span>
                    Readify reserves the right to modify these terms and conditions at any time. Users will be informed
                    of significant changes through notifications on the platform, via email, or through other
                    communication channels provided in their account settings.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Continued Use:
                    </span>
                    Continued use of Readify following any changes to the terms and conditions constitutes acceptance of
                    those changes. Users are encouraged to review the terms periodically to stay informed about any
                    updates.
                </p>

                <h2 class="mt-3 font-bold tracking-tight text-gray-900">
                    Miscellaneous:
                </h2>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Severability:
                    </span>
                    If any provision of these terms is found to be invalid or unenforceable, the remaining provisions
                    will continue to be valid and enforceable.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Entire Agreement:
                    </span>
                    These terms and conditions, along with our Privacy Policy and any other policies referenced herein,
                    constitute the entire agreement between users and Readify regarding the use of the platform.
                </p>
                <p class="mt-3 text-justify pl-10">
                    <span class="font-bold tracking-tight text-gray-900">
                        - Waiver:
                    </span>
                    Any failure by Readify to enforce any right or provision of these terms will not constitute a waiver
                    of such right or provision.
                </p>
                <p class="mt-6 text-justify">
                    Thank you for contributing to the Readify community. Your adherence to these guidelines helps us
                    maintain a positive and enjoyable environment for everyone.
                </p>
            </div>

        </div>
    </div>

{% endblock %}