{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}


    <li class="border-b flex-grow text-center md:border-b-0 md:border-r last:border-0 dark:border-gray-800">
        <a id="loginas-link" href="#"
           class="block px-4 py-2 text-gray-500 text-left whitespace-nowrap hover:text-gray-700 dark:text-gray-300 hover:dark:text-gray-200">
            View book in site
        </a>
    </li>

{% endblock %}

{% block footer %}
    {{ block.super }}
    <form method="post" id="loginas-form" action="{% url 'loginas-user-login' object_id %}" style="display: none">
        {% csrf_token %}
    </form>
    <script>
        django.jQuery(function () {
            django.jQuery('#loginas-link').click(function () {
                django.jQuery('#loginas-form').submit();
                return false;
            });
        });
    </script>
{% endblock %}
